{% extends 'base.html' %}
  {% block head %}
  {% endblock %}
  {% block search %}
  <form class="pure-form">
    <fieldset>
      <input id="search" name="search" type="text" placeholder="Restaurant Name">
      <button id="search-button" type="submit" class="pure-button pure-button-primary" onclick="getLocation()">Go</button>
    </fieldset>
  </form>
  {% endblock %}
  {% block content %}
      Review and edit reservation
      change password
      payment info
      contact info
    {% endblock %}
    {% block js %}
    {% endblock %}
