{% extends 'base.html' %}
  {% block head %}
  {% endblock %}
  {% block search %}
  <form class="pure-form">
    <fieldset>
      <input id="search" name="search" type="text" placeholder="Restaurant Name">
      <button id="search-button" type="submit" class="pure-button pure-button-primary" onclick="getLocation()">Go</button>
    </fieldset>
  </form>
  {% endblock %}
  {% block content %}
  <ul>
    <li>Username:{{user.username}}</li>
    <li>First Name: {{user.first_name}}</li>
    <li>Last Name: {{user.last_name}}</li>
    <li>Email : {{user.email}}</li>
    <li>change password</li>
    <li>payment info</li>
  </ul>
  {% for reservation in reservations %}
  {{reservation.name_reservation}}
  {#display reservation details
  display editable details#}
  {% endfor %}
    {% endblock %}
    {% block js %}
    {% endblock %}
