{% extends 'base.html' %}
  {% block head %}
  {% endblock %}
  {% block search %}
  <form class="pure-form">
    <fieldset>
      <input id="search" name="search" type="text" placeholder="Restaurant Name">
      <button id="search-button" type="submit" class="pure-button pure-button-primary" onclick="getLocation()">Go</button>
    </fieldset>
  </form>
  {% endblock %}
  {% block content %}
  <ul>
    <li>Username:{{user.username}}</li>
    <li>First Name: {{user.first_name}}</li>
    <li>Last Name: {{user.last_name}}</li>
    <li>Email : {{user.email}}</li>
    <li>change password</li>
    <li>payment info</li>
  </ul>
  {% for reservation in reservations %}
  {% if not reservation.caller %}
  <form class="pure-form" method="post">
    <fieldset>
      <input name="place" type="text" placeholder="Place" value="{{reservation.name_restaurant}}">
      <input name="phone" type="text" placeholder="Phone" value={{reservation.phone|replace(' ','') }}>
      <input name="name" type="text" placeholder="Name" value = {{reservation.name_reservation}}>
      <input name="party_size" type="text" placeholder="party size" value = {{reservation.party_size}}>
      <input name="date" type="date" placeholder="date" value = {{reservation.date}}>
      <input name="time" type="time" placeholder="time" value = {{reservation.time}}>
      <input name="uuid" type="hidden" value={{ reservation.uuid }} >
      <br>
      <button type="submit" class="pure-button pure-button-primary">Update</button>
    </fieldset>
  </form>
  {% endif %}
  {% if reservation.caller and not reservation.request_completed %}
  Your reservation for {{reservation.name_restaurant}} at {{reservation.time}} on {{reservation.date}}
  is being made.
  {% endif %}
  {% endfor %}
    {% endblock %}
    {% block js %}
    {% endblock %}
