{% extends 'base.html' %}
  {% block head %}
  {% endblock %}
  {% block search %}
  <form class="pure-form">
    <fieldset>
      <input id="search" name="search" type="text" placeholder="Restaurant Name">
      <button id="search-button" type="submit" class="pure-button pure-button-primary" onclick="getLocation()">Go</button>
    </fieldset>
  </form>
  {% endblock %}
  {% block content %}
  <ul>
    <li>Username:{{user.username}}</li>
    <li>First Name: {{user.first_name}}</li>
    <li>Last Name: {{user.last_name}}</li>
    <li>Email : {{user.email}}</li>
    <li>change password</li>
    <li>payment info</li>
  </ul>
  {% for reservation in reservations %}
  {{reservation.name_reservation}}
  {{reservation.name_restaurant}}
  {{ reservation.party_size}}
  {{reservation.time}}
  {{reservation.date}}
  {{reservation.phone}}
  <form class="pure-form" method="post">
    <fieldset>
      {{ csrf_input }}
      {% if not reservation.caller %}
      <label for='accepted'>
      <input name="accepted" type="checkbox"> Accept Work
      </label>
      {% endif %}
      {% if reservation.caller %} Work Accepted {% endif %}
      <label for="completed">
      <input name="completed" type="checkbox" value="yes"> Completed
      </label>
      <input name="uuid" type="hidden" value={{ reservation.uuid }} >
      <br>
      <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>
  </form>
  {% endfor %}
    {% endblock %}
    {% block js %}
    {% endblock %}
