{% extends 'account.html' %}
  {% block head %}
  {% endblock %}
  {% block search %}
  <form class="pure-form">
    <fieldset>
      <input id="search" name="search" type="text" placeholder="Restaurant Name">
      <button id="search-button" type="submit" class="pure-button pure-button-primary" onclick="getLocation()">Go</button>
    </fieldset>
  </form>
  {% endblock %}
  {% block caller %}
  <h3> Accepted Work </h3>
  {% for reservation in accepted_reservations %}
  {{reservation.name_reservation}}
  {{reservation.name_restaurant}}
  {{ reservation.party_size}}
  {{reservation.time}}
  {{reservation.date}}
  {{reservation.phone}}
  {% if reservation.acceptable_time and not reservation.accepted_time %}
  <br>
  Acceptable Time: {{reservation.acceptable_time}}
  {% endif %}
  {% if reservation.accepted_time %}
  <br>
  User has accepted new time of: {{reservation.accepted_time}}
  {% endif %}
  <form class="pure-form" method="post">
    <fieldset>
      {{ csrf_input }}
      <label for="completed">
      <input name="completed" type="checkbox" value="yes"> Completed
      {% if reservation.uuid|safe != uuid|safe %}
      </label>
      <label for="new_time_needed">
      <input name="new_time_needed" type="checkbox" value="yes"> Time Doesn't Work
      </label>
      {% endif %}
      {# acceptable time input #}
      {% if reservation.uuid|safe == uuid|safe %}
      <input name="acceptable_date" type="date" placeholder="date" value={{date_today}}>
      <input name="acceptable_time" type="time" placeholder="time">
      {% endif %}
      <input name="uuid" type="hidden" value={{ reservation.uuid }} >
      <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>
  </form>
  {% endfor %}
  <hr>
  <h3> Unclaimed Work </h3>
  {% for reservation in reservations %}
  {{reservation.name_reservation}}
  {{reservation.name_restaurant}}
  {{ reservation.party_size}}
  {{reservation.time}}
  {{reservation.date}}
  {{reservation.phone}}
  <form class="pure-form" method="post">
    <fieldset>
      {{ csrf_input }}
      {% if not reservation.caller %}
      <label for='accepted'>
      <input name="accepted" type="checkbox"> Accept Work
      </label>
      {% endif %}
      <input name="uuid" type="hidden" value={{ reservation.uuid }} >
      <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>
  </form>
  {% endfor %}
    {% endblock %}
    {% block js %}
    {% endblock %}
