{% extends 'base.html' %}
  {% block head %}
  {% endblock %}
  {% block search %}
  <form class="pure-form">
    <fieldset>
      <input id="search" name="search" type="text" placeholder="Restaurant Name">
      <button id="search-button" type="submit" class="pure-button pure-button-primary" onclick="getLocation()">Go</button>
    </fieldset>
  </form>
  {% endblock %}
  {% block content %}
          {%if restaurant and not reserve%}
          {% for place in restaurant %}
          {% if expand != place.uuid|safe %}
          <div class="restaurant">
          <a id="{{place.name}}" href="?expand={{place.uuid}}">
          <h2>{{place.name}}{%if place.name_en%}{{place.name_en}}{%endif%}</h2>{% if place.city %}{{place.city|title}}{% endif %}
          {% if place['addr:full'] %} {{place['addr:full']}}{% endif %}{%if place.cuisine%}{{place.cuisine|title }}{%endif%}
          {% if phone %} {{place.phone}} {% endif %}
          </a>
          <hr>
          </div>
          {% elif expand==place.uuid|safe %}
          <h2>{{place.name}}{%if place.name_en%}{{place.name_en}}{%endif%}</h2>{% if place.city %}{{place.city|title}}<br>{% endif %}
          {%if place.cuisine%}{{place.cuisine|title }}<br>{%endif%}
          {%if place.opening_hours%}{{place.opening_hours}}{%endif%}
          {%if place.outdoor_seating==yes%}Outdoor Seating{%endif%}{%if place.website%}{{place.website}}{%endif%}<br>
          {# {{place.expandable_menu}}{{place.english_friendly}} #}
          <a class="pure-button" href="?reserve={{place.uuid}}"> Request Reservation </a>
          <br>
          <br>
          <div id="map"></div>
          <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
          <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
          integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
          crossorigin=""></script>
          {# pass location to JavaScript, then create map#}
          <script>var loc = {{location|tojson}};</script>
          <script src="{{static}}/js/map.js"></script>

          {% endif %}
          {% endfor %}
          Data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>
          {% elif not restaurant %}
            Place not found <br><br>
            <a class="pure-button" href="?reserve_freeform=yes"> Freeform Reservation</a><br>
            Click here to make a reservation for a restaurant that is not in our database
            {% endif %}

    {% endblock %}
    {% block js %}
    {% endblock %}
