{% extends 'base.html' %}
  {% block head %}
  {% endblock %}
  {% block search %}
  <form class="pure-form">
    <fieldset>
      <input id="search" name="search" type="text" placeholder="Restaurant Name">
      <button id="search-button" type="submit" class="pure-button pure-button-primary" onclick="getLocation()">Go</button>
    </fieldset>
  </form>
  {% endblock %}
  {% block content %}
  {# empty form #}
  <h3> Fill in form or use search to find information </h3>
  {% if restaurant=='' %}
  <form class="pure-form" method="post">
    <fieldset>
      {{ csrf_input }}
      <input name="place" type="text" placeholder="Place">
      <input name="phone" type="text" placeholder="Phone">
      <input name="name" type="text" placeholder="Name">
      <input name="party_size" type="text" placeholder="party size">
      <input name="date" type="date" placeholder="date" value={{date}}>
      <input name="time" type="time" placeholder="time">
      <input name="reservation_submitted" type="hidden" value="yes">
      <input name="place_in_db" type="hidden" value="no">
      <button type="submit" class="pure-button pure-button-primary">Reserve</button>
    </fieldset>
  </form>
  {% endif %}

  {# form prefilled with restaurant info #}
  {% if restaurant %}
  {% for place in restaurant %}
          <form class="pure-form" method="post">
            <fieldset>
              {{ csrf_input }}
              <input name="place" type="text" placeholder="Place" {% if place.name %} value={{place.name}} {% endif %}>
              <input name="phone" type="text" placeholder="Phone" {% if place.phone %} value={{place.phone|replace(' ','') }} {% endif %}>
              <input name="name" type="text" placeholder="Name">
              <input name="party_size" type="text" placeholder="party size">
              <input name="date" type="date" placeholder="date" value={{date}}>
              <input name="time" type="time" placeholder="time">
              <input name="reservation_submitted" type="hidden" value="yes">
              <button type="submit" class="pure-button pure-button-primary">Reserve</button>
            </fieldset>
          </form>
    {% endfor %}
    {% endif %}
    {% endblock %}
    {% block js %}
    {% endblock %}
